# This is an example of your .env file format, which pnpm db:setup will create.
# Note: this must be .env, not .env.local, without further configuration changes.
PORT=8080
APP_ENV=local

DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=woxdb
DB_USERNAME=woxuser
DB_PASSWORD=password1234
DB_SCHEMA=public
