# This is an example of your .env file format
#
# To prevent accidentally leaking env variables to the client, only variables
# prefixed with VITE_ are exposed to your Vite-processed code. e.g. for the
# following env variables:
VITE_USE_MOCK=false
VITE_USE_COLLECT_WEB_VITALS=false
VITE_HOSTING_API_URL=''
VITE_HOSTING_REALTIME_HOST=''
VITE_HOSTING_REALTIME_PORT=''
VITE_TITLE='untitled'
VITE_CUSTOMER='unset'
