:root {
  /* All legacy */
  --text-primary: light-dark(lch(9.37 0 282.863), red);
  /* --text-secondary: light-dark(lch(37.48 1 282.863), red); */
  --text-secondary: light-dark(lch(37.48 1 282.863), red);
  --text-muted: light-dark(lch(39.48 1 282.863), red);
  --background-base: light-dark(lch(93.7% 0 282.863 / 1), red);
  /* --background-background: light-dark(lch(98.7 0 282.863), #101011); */
  --background-background: var(--neutral-50);
  /* --background-foreground: light-dark(lch(100 0 0 / 0), #090909); */
  --background-foreground: var(--zinc-100);
  --background-standout: light-dark(lch(97 0.01 0), #101011);

  --primary: var(--primary-500);
  --secondary: light-dark(rgb(255, 100, 33), red);

  --background-brand: light-dark(var(--primary-500), red);

  --nav-active: light-dark(lch(89.699997 0 282.863007), #101011);

  --interactive-forground: light-dark(lch(91.7 0 282.863), #101011);
  --active-forground: var(--neutral-200);
  --interactive-background: light-dark(lch(97.45 0 282.863), #1b1a1f);

  --text-interactive-hover: light-dark(red, var(--gray-a12));
  --background-highten: light-dark(red, color(srgb 0.0893 0.0943 0.1028));
  --background-border: light-dark(lch(87.900002 0 282.863007), #27282d);
  --background-success: light-dark(red, var(--gray-8));

  --focus-ring-color: light-dark(black, white);
  --focus-ring-outline: 2px solid var(--focus-ring-color);

  --shadow-old: 0px 1px 38px -10px rgba(22, 23, 24, 0.1);

  --shadow: 0 0 0 1px color-mix(in oklab, var(--gray-a7), var(--gray-7) 25%),
    0 12px 60px var(--black-a5), 0 12px 32px -16px var(--black-a7);

  --speed-highlightFadeIn: 0;
}
